# Variables, Data Types, Operators and Input Functions

A variable is a name given to a memory location in a program. For example

a=30

b=”Khursheed”

c=71.22

In [2]:
a_122 = '''Khursheed'''
# a = 'Khursheed'
a = "Khursheed"
b = 345
c = 45.32
d = True
# d = None

Variable – Container to store a value

Keywords – Reserved words in Python (def, class) - List is available on website
         - Do not use keywards for making variables
         
Identifiers – class/function/variable name (Discuss in next topics)

Data Types:
Primarily there are the following data types in Python:

- Integers
- Floating point numbers
- Strings
- Booleans (True / False)
- None

(None is a special constant in Python that represents the absence of a value or a null value (neither True nor False). It is an object of its own datatype, the NoneType. We cannot create multiple None objects but can assign it to variables. These variables will be equal to one another.)

Python is a fantastic language that automatically identifies the type of data for us (e.g. int / float / string).

In [1]:
# There are three methods to define string
# 1) 'Khursheed'
# 2) "Khursheed"
# 3) '''Khursheed'''   - It is used when Single or double Quate ' ' or " " in 
                        # a single statement

a = "Khursheed"
b = 345
c = 45.32
d = True
e = None
f = False

# Printing the variables
print(a)
print(b)
print(c)
print(d)
print(e)
print(f)

# Printing the type of variables
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

Khursheed
345
45.32
True
None
False
<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>
<class 'bool'>

# Rules for defining a variable name: (Also applicable to other identifiers)

- A variable name can contain alphabets, digits, and underscore.
- A variable name can only start with an alphabet and underscore.
- A variable can’t start with a digit.
- No white space is allowed to be used inside a variable name.
- Examples of few valid variable names,

Khursheed, khursheed, one8, _Imran, khursheed, Ahmed_bro, etc.

In [2]:
# A variable can’t start with a digit.
1a = 5  # It should alwasys start with alphbet not with digit

SyntaxError: invalid syntax (<ipython-input-2-f799a2338889>, line 2)

In [3]:
# A variable name can only start with an alphabet and underscore
_a = 5
print(_a)

5

In [4]:
# No white space is allowed to be used inside a variable name.

abc de = 123

SyntaxError: invalid syntax (<ipython-input-4-4494ddf1c1e7>, line 3)

In [15]:
# Python is case sensitive

a= 24
A= 76

print("a=", a )
print("A=", A )

a= 24
A= 76

# Operators in Python
The following are some common operators in Python:

- Arithmetic Operators (+, -, *, /, etc.)
- Assignment Operators (=, +=, -=, etc.)
- Comparison Operators (==, >=, <=, >, <, !=, etc.)
- Logical Operators (and, or, not)

In [5]:
a = 3
b = 4

# Arithmetic Operators
print("The value of 3+4 is ", 3+4)
print("The value of 3-4 is ", 3-4)
print("The value of 3*4 is ", 3*4)
print("The value of 3/4 is ", 3/4)

The value of 3+4 is  7
The value of 3-4 is  -1
The value of 3*4 is  12
The value of 3/4 is  0.75

In [6]:
# Assignment Operators
a = 34
b = 34
c = 34
d = 34
a += 2 # 34 +2 = 36
b -= 12  # 34-12 = 22
c *= 12  # 34*12 = 408
d /= 12  # 34/12 = 2.833
print(a)
print(b)
print(c)
print(d)

36
22
408
2.8333333333333335

In [19]:
# Comparison Operators, it retruns boolean
x = (14<=7) # False
y = (14>=7)  # True
z = (14<7)  # False
a = (14>7)  # True
b = (14==7)  # False
c = (14!=7) # True

print(x)
print(y)
print(z)
print(a)
print(b)
print(c)

False
True
False
True
False
True

In [20]:
# Logical Operators

bool1 = True
bool2 = False
print("The value of bool1 and bool2 is --- ", (bool1 and bool2))
print("The value of bool1 or bool2 is --- ", (bool1 or bool2))
print("The value of not bool2 is --- ", (not bool2))

The value of bool1 and bool2 is ---  False
The value of bool1 or bool2 is ---  True
The value of not bool2 is ---  True

In [21]:
# Type Casting
a = "3534"
type(a)

str

In [22]:
c = a+5

TypeError: can only concatenate str (not "int") to str

In [23]:
a = int(a)
print(type(a))
print(a + 5)

<class 'int'>
3539

In [24]:
a = "35abc34"  # It does not work because it is hybrid
a = int(a)
print(type(a))
print(a + 5)

ValueError: invalid literal for int() with base 10: '35abc34'

In [25]:
a = str(34)
print(a)
print(a+5) # it can not be added

34

TypeError: can only concatenate str (not "int") to str

In [21]:
a = float(35)
print(a)

35.0

# Input Function

- This function allows the user to take input from the keyboard as a string.

- a = input(“Enter name”)       #if a is “khursheed”, the user entered khursheed

- Note: The output of the input function is always a string even if the number is entered by the user.

- Suppose if a user enters 34, then this 34 will automatically convert to “34” string literal.

In [26]:
# Input Function
# It saves the value as str

a = input("Enter a number: ")  
# takes the input as string even if you give a integer
print(type(a))
a = int(a) # Convert a to an Integer(if possible)
print(type(a))

Enter a number: 6
<class 'str'>
<class 'int'>

In [27]:
a = input("Enter a Name: ")  
print(a)

Enter a Name: Khursheed
Khursheed

In [28]:
# Print Addtion / Reminder / Average
a = 30
b = 15
print("The sum of a and b is", a + b)

a = 458
b = 15

print("The remainder when a is divided by b is", a%b)

The sum of a and b is 45
The remainder when a is divided by b is 8

In [29]:
a = input("Enter first number: ")
b = input("Enter second number: ")
a = int(a)
b = int(b)
avg = (a + b)/2
print("The average of a and b is", avg)

Enter first number: 10
Enter second number: 20
The average of a and b is 15.0