# Lists and Tuples

- Python Lists are containers to store a set of values of any data type.

- friends = [‘Apple’, ‘Waseem’, ‘Shakeel’, 7, False]

- The list can contain different types of elements such as int, float, string, Boolean, etc. Above list is a collection of different types of elements.

- List Indexing
- A list can be index just like a string.

- L1 = [7, 9, ‘Khursheed’]
- L1[0] –- 7
- L1[1] –- 9
- L1[70] –- Error
- L1[0:2] –- [7,9]         (This is known as List Slicing)

In [1]:
# Create a list using []
a = [1, 2 , 4, 56, 6]

# Print the list using print() function
print(a)

# Access using index using a[0], a[1], a[2]
print(a[2])

# Change the value of list using
a[0] = 98
print(a)

# We can create a list with items of different types
c = [45, "Khursheed", False, 6.9]
print(c)

[1, 2, 4, 56, 6]
4
[98, 2, 4, 56, 6]
[45, 'Khursheed', False, 6.9]

In [4]:
# List slicing
friends = ['Khursheed', "Sharjeel", "Mohd", "Sarmad", "Danish", 45]
print(friends[0:4])
print(friends[-4:])

['Khursheed', 'Sharjeel', 'Mohd', 'Sarmad']
['Mohd', 'Sarmad', 'Danish', 45]

# List Functions

In [9]:
# sort() put the elements in assending order
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1_sort = l1.sort()  # It does not work because this command directly change l1
print(l1_sort)  # Becuase changes are made in L1 directly

[1, 8, 7, 2, 21, 15]
None

In [10]:
l1 = [1, 8, 7, 2, 21, 15]
l1_sort = l1.sort()
print(l1)

[1, 2, 7, 8, 15, 21]

In [12]:
# reverses the list
l1 = [1, 8, 7, 2, 21, 15]
l1.reverse() # reverses the list (decending order)
print(l1)

[15, 21, 2, 7, 8, 1]

In [13]:
# append at the end
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.append(45) # adds 45 at the end of the list
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 7, 2, 21, 15, 45]

In [14]:
# inserts 544 at index 2
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.insert(2, 544) # inserts 544 at index 2
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 544, 7, 2, 21, 15]

In [15]:
# removes element at index 2
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.pop(2) # removes element at index 2
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 2, 21, 15]

In [16]:
# removes 21 from the list
l1 = [1, 8, 7, 2, 21, 15]
print(l1)
l1.remove(21) # removes 21 from the list
print(l1)

[1, 8, 7, 2, 21, 15]
[1, 8, 7, 2, 15]

# Tuples

A tuple is an immutable (can’t change or modified) data type in Python.

- a = ()           #It is an example of empty tuple
- a = (1,)         #Tuple with only one element needs a comma
- a = (1, 7, 2)    #Tuple with more than one element

Once defined, tuple elements can’t be manipulated or altered.

Tuple methods:

Consider the following tuple,

- a = (1, 7, 2)
- count(1) – It will return the number of times 1 occurs in a.
- index(1) – It will return the index of the first occurrence of 1 in a.

In [20]:
# Creating a tuple using ()
t = (1, 2, 4, 5)
print(t)
# Printing the elements of a tuple
print(t[0])

# Cannot update the values of a tuple
# t[0] = 34 # throws an error

(1, 2, 4, 5)
1

In [18]:
# Cannot update the values of a tuple
t[0] = 34 # throws an error

TypeError: 'tuple' object does not support item assignment

In [19]:
t1 = () # Empty tuple
print(t1)

()

In [21]:
t1 = (1) # Wrong way to declare a Tuple with Single element (consider as no)
t2 = (1,) # Tuple with Single element
print(t1)
print(t2)

1
(1,)

In [1]:
# Counting and Indexing
# Creating a tuple using ()
t = (1, 2, 4, 5, 4, 1, 2,1 ,1)

print(t.count(1))  # Total no. of 1 in tuple t
print(t.index(5))  # First index of value 5 (that is 3), index starts with 0
print(t)

4
3
(1, 2, 4, 5, 4, 1, 2, 1, 1)

# Practice Set
- Write a program to store seven fruits in a list entered by the user.
- Write a program to accept the marks of 6 students and display them in a sorted manner.
- Check that a tuple cannot be changed in Python.
- Write a program to sum a list with 4 numbers.
- Write a program to count the number of zeros in the following tuple:

In [24]:
# Write a program to store seven fruits in a list entered by the user.

f1 = input("Enter Fruit Number 1: ")
f2 = input("Enter Fruit Number 2: ")
f3 = input("Enter Fruit Number 3: ")
f4 = input("Enter Fruit Number 4: ")
f5 = input("Enter Fruit Number 5: ")
f6 = input("Enter Fruit Number 6: ")
f7 = input("Enter Fruit Number 7: ")

myFruitList = [f1, f2, f3, f4, f5, f6, f7]
print(myFruitList)

Enter Fruit Number 1: apple
Enter Fruit Number 2: amroud
Enter Fruit Number 3: anar
Enter Fruit Number 4: orange
Enter Fruit Number 5: grape
Enter Fruit Number 6: peach
Enter Fruit Number 7: almond
['apple', 'amroud', 'anar', 'orange', 'grape', 'peach', 'almond']

In [25]:
# Write a program to accept the marks of 6 students and display them in a 
# sorted manner

m1 = int(input("Enter Marks for Student Number 1: "))
m2 = int(input("Enter Marks for Student Number 2: "))
m3 = int(input("Enter Marks for Student Number 3: "))
m4 = int(input("Enter Marks for Student Number 4: "))
m5 = int(input("Enter Marks for Student Number 5: "))
m6 = int(input("Enter Marks for Student Number 6: "))

myList = [m1, m2, m3, m4, m5, m6]
myList.sort()
print(myList)

Enter Marks for Student Number 1: 25
Enter Marks for Student Number 2: 100
Enter Marks for Student Number 3: 90
Enter Marks for Student Number 4: 85
Enter Marks for Student Number 5: 60
Enter Marks for Student Number 6: 95
[25, 60, 85, 90, 95, 100]

In [26]:
# Check that a tuple cannot be changed in Python
a = (2,4,5,3,2)
a[0] = 45

TypeError: 'tuple' object does not support item assignment

In [27]:
# Write a program to sum a list with 4 numbers.

a = [2, 4, 56, 7]

print(a[0] + a[1] + a[2] + a[3])
print(sum(a))

69
69

In [28]:
# Write a program to count the number of zeros in the following tuple:

t = (1, 2,0, 4,0, 5, 4,0, 1, 2,0,1 ,1,0,0)

print(t.count(0))  # Total no. of 0 in tuple t

6